@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
    scroll-snap-type: y mandatory;
}
 body{
     overscroll-behavior: none;
 }

section {
    scroll-snap-align: end;
    height: 100vh
}
