@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
    overflow-x: hidden
}

body {
    overscroll-behavior: none;
    overflow: hidden;
 }

.snap {
    scroll-snap-align: end;
}
